
    <table>
        <thead>
            <tr>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{data}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>