.imageHelper{
    background: url('/T-shirtser.jpeg');
    background-size: cover;
    height:120px;
    width:120px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
    background-color: white;
    border-bottom: 0.1ch solid grey;
    font-size: medium;
    font-family: arial;
}

.login-button{
    margin-right: 0.6rem;
    flex-direction: row;
    cursor: pointer;
}

.dot {
    height: 20px;
    width: 20px;
    background-color:red;
    color:white;
    border-radius: 50%;
    display: inline-block;
  }

  

  @media ( max-width: 500px ) {
    .imageHelper{
        background: url('/T-shirtser.jpeg');
        background-size: cover;
        height:70px;
        width:70px;
    }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;
        width: 100%;
        background-color: white;
        border-bottom: 0.1ch solid grey;
        font-size: small;
        font-family: arial;
    }

    .buttonSize{
        background-color: #007bff;
        border: 1px solid #007bff;
        text-decoration: none;
        color: #007bff;
        padding: 0.5rem;
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 0.75rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;    
    }


}