.imageHelper{
    background: url('/T-shirtser.jpeg');
    background-size: cover;
    height:120px;
    width:120px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
    background-color: white;
    border-bottom: 0.1ch solid grey;
    font-size: larger;
    font-family: arial;
}

.login-button{
    margin-right: 0.6rem;
    flex-direction: row;
    cursor: pointer;
}

.dot {
    height: 25px;
    width: 25px;
    background-color:red;
    color:white;
    border-radius: 50%;
    display: inline-block;
  }